name: CI

permissions:
  contents: read
  id-token: write

on:
  push:
    branches: ["test"]
  pull_request:
    branches: ["main", "test"]

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    services:
      mongodb:
        image: mongo:latest
        ports:
          - 27017:27017
        options: >-
          --health-cmd "mongosh --eval \"db.adminCommand('ping')\""
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
    env:
      MONGODB_URI: "mongodb://127.0.0.1:27017/test"
      NEXTAUTH_SECRET: "dummy-secret-for-build"
      NEXTAUTH_URL: "http://localhost:3000"
      ADMIN_EMAIL: "testadmin@gmail.com"
      ADMIN_PASSWORD: "password123"
      NEXT_PUBLIC_WS_URL: "http://localhost:4000"
      NEXT_PUBLIC_BASE_URL: "http://localhost:3000"
      PORT_WS: 4000
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: "22"
          cache: "npm"

      - name: Install dependencies
        run: npm install

      - name: check seeding
        run: npm run seed:all

      - name: Build
        run: npm run build
